*{
    font-family: 'Caramel', cursive;
    color:white;
    font-size:35px;
    text-shadow: black 0.3em 0.3em 0.4em;
    font-weight: 300;  
}

h1{
    font-size:70px;
}

header{
    text-align: center;
}

nav{
    text-align: right;
}

#butadd{
    background-color: black;
    margin-bottom: 13px;
    margin-right: 13px;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../media/fondo.jpg");
}

img{
    width: 150px;
    height: 150px;
}

#capaSuper{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #3c3a3aba;
    display:none;
    justify-content: center;
    align-items: center;
}

#capaSuper_container{
    width:80%;
    height:75%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#capaSuper_container_header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 15px;
}

#capaSuper_container_header button{
    border:5px solid white;
}

#capaSuper_container_header > div{

    width: 45px;
    height: 45px;
    text-align: center;
    
}

#capaSuper_container_body{
    flex:1;
}

td{
    padding:6px;
}