img {
    width: 210px;
    height: 210px;
    background-color: red;
    border:1px solid black;
}

.campo{
    margin-bottom: 10px;
}

.campo > div:nth-child(1){
    font-weight: 600;
    margin-bottom: 4px;
}

#form_campos{
    display:flex;
}

#form_campos > div:nth-child(1){
    padding-right: 10px;
}

input[type="text"]{
    width: 100%;
}

#form_des{
    text-align: center;
}

textarea{
    width: 766px;
    height: 228px;
}